html {
  --bg-color-button: rgb(27, 198, 103);
  --text-color: white;
  --bg-color-one: rgb(36, 36, 36);
  --bg-color-two: black;
}

* {
  box-sizing: border-box;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 120%;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color-two);
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 70px;
  margin: 50px 0px 50px 0px;
}

.logo {
  width: 200px; /* width of container */
}

.list-direito-indenizacao div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  border-radius: 5px;
  background-color: var(--bg-color-one);
  max-width: 700px;
  text-align: left;
}

.list-direito-indenizacao i {
  font-size: 30px;
  margin: 0 30px 0 20px;
}
header,
#div-1,
#div-2,
#div-3,
#div-4,
#div-5,
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  background-image: url("./assets/ditadura.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 1% 20% 0% 20%;
}

#div-1 {
  height: 100vh;
}

#div-2 {
  height: 100vh;
}

#div-3 {
  background-image: url("./assets/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.img-h3 {
  display: flex;
  text-align: left;
  justify-content: space-around;
  margin-bottom: 40px;
  width: 100%;
}

.img-h3 h3 {
  min-width: auto;
  margin: 0;
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh 10vh 5vh 10vh;
  line-height: 30px;
  font-weight: bold;
}
.img-h3 img {
  margin-right: 5px;
}
.img-h3 img,
.img-h3 h3 {
  border-radius: 10px;
  height: 380px;
  min-height: 380px;
  width: 430px;
  min-width: 430px;
}

#icone {
  height: 100px;
}

footer {
  padding: 1% 20% 1% 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div-icones div {
  width: 80%;
  font-size: 20px;
  text-align: justify;
  background-color: black;
  margin: 30px auto;
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.div-icones div i {
  font-size: 25px;
  margin-right: 30px;
}

.div-container {
  padding: 1% 20% 2% 20%;
}

.div-arrastar {
  background-color: white;
  width: 20px;
  height: 40px;
  border-radius: 15px;
  margin: 10px auto 25px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.div-bolinha {
  position: relative;
  height: 7px;
  width: 7px;
  border-radius: 5px;
  margin: auto;
  background-color: black;
  animation: MoveUpDown 2.5s linear infinite;
  left: auto;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: -20px;
  }
}

#div-1,
#div-3,
#div-5 {
  background-color: var(--bg-color-one);
}

#div-2,
#div-4,
header, 
footer {
  background-color: var(--bg-color-two);
}

ol {
  text-align: justify;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  background-color: var(--bg-color-two);
}

li {
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}


button {
  background-color: rgb(27, 198, 103);
  text-transform: uppercase;
  padding: 15px 40px;
  border: 1px solid rgb(27, 198, 103);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: white;
}

button:hover {
  border: 1px solid rgb(31, 95, 59);
  background-color: rgb(31, 95, 59);
  cursor: pointer;
}


.div-advogado {
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
  align-items: center;
}
.advogado-direita button{
  margin-bottom: 0px;

}

.advogado-direita {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
}

.div-advogado img {
  height: 400px;
  margin-right: 30px;
  border-radius: 10px;
}

.div-advogado p {
  font-size: 25px;
  text-align: left;
}

h2 {
  font-size: 35px;
  margin-bottom: 40px;
}
/* largura maxima é daquele valor para baixo */

@media (max-width: 1200px) and (min-width: 700px)
{
  h2 {
    font-size: 25px;
    min-width: 550px;
  }

  .div-arrastar,
  .div-bolinha {
    display: none;
  }

  .div-advogado {    
    flex-direction: column;
  }
  
  .div-advogado img{    
    margin-right: 0;
    height: 500px;
  }
  .div-advogado p{    
    margin-right: 0;
    height: 500px;
    text-align: center;
  }

  #div-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .img-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-h3 img{
    margin-right: 0;
  }

  #div-1 h3{
    background-color: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 100px;
    min-height: 100px;
    width: 700px;
    min-width: 500px;
    text-align: justify;
  }

}

@media (max-width: 700px) {

  button {
    width: 550px;
    height: 80px;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
  }

  h2 {
    font-size: 25px;
    min-width: 550px;
  }

  .div-advogado {    
    flex-direction: column;
    align-items: center;
  }
  
  .div-advogado img{    
    margin-right: 0;
    height: 500px;
  }
  .div-advogado p{    
    margin-right: 0;
    height: 500px;
    text-align: center;
  }

  .img-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .img-h3 img {
    margin-right: 0;
    margin-bottom: 30px;
    margin-top: 30px;

  }

  .presos {
    max-width: 400px;
    /* min-width: 200px; */
  }

  header,
  footer,
  #div-1,
  #div-2,
  #div-3,
  #div-4,
  #div-5{
    padding: 5% 10% 5% 10%;
  }

  header {
    height: 1200px;
  }

  #div-1 {
    height: 1100px;
  }

  #div-1 h3{
    background-color: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 50px;
    min-height: 100px;
    width: 600px;
    min-width: 500px;
    text-align: justify;
  }

  body {
    width: 100vh;
  }

  .img-h3 img{
    border-radius: 10px;
    height: 600px;
    width: 650px;
  }
}
