@media (max-width: 1200px) and (min-width: 700px)
{
  .section-grande {
    padding: 2vh 2vh 2vh 2vh;
    justify-content: space-around;
  }

  #div-1 {
    display: flex;
    flex-direction: column;
  }

  #div-1 h3{
    background-color: transparent;
    color: white;
    font-size: 3vh;
    text-align: center;
  }

  h1 {
    font-size: 9vh;
  }

  h2 {
    font-size: 5vh;
    margin: 0px;
  }

  h4, .subtitulo-div2, #div-3 p, .info-advogado p{  
    font-size: 3vh;
  }

  button {
    font-size: 2.5vh;
  }

  .div-advogado {
    margin: 30px 30px;;
    flex-direction: column;
  }

  .div-advogado img{    
    margin-bottom: 30px;
    margin-right: 0px;

  }
  .div-advogado p{    
    margin-top: 0px;
    text-align: center;
  }

  .advogado-direita {
    justify-content: space-between;
  }

  .advogado-direita {
    justify-content: center;
    align-items: center;
  }

  .list-direito-indenizacao div {
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    font-size: 2.5vh;
    padding: 1vh 3vh;
    text-align: left;
  }

  .caso-real {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

  }

  .caso-real img{
    margin-right: 0px;
    width: 90%;
  }

  .subtitulo-div2 {
    width: 100%;
  }

  ol {
    margin: 0px;
    width: 100%;
  }

  ol li {
    font-size: 3vh;
  }

  .servicos-oferecidos-itens div{
    font-size: 3vh;
    text-align: left;
    width: 100%;
  }

  .servicos-oferecidos-itens div i {
    font-size: 3vh;
  }

  footer p {
    font-size: 3vh;
    width: 100%;
  }

  footer i {
    font-size: 100%;
  }
}