@media (max-device-width: 700px) {

  .section-grande {
    height: 100vh;
    padding: 5% 3% 5% 3%;
  }

  #div-2 h2 {
    margin-bottom: 0px;
  }

  h1 {
    font-size: 6vh;
    margin: 0;
    width: 100%;
  }

  h2 {
    font-size: 4vh;
    margin-bottom: 30px;
  }

  .caso-real img {
    border-radius: 10px;
    width: 90%;
    height: 70%;
    margin: 0px 0px 10px 0px;
  }

  .caso-real div {
    margin-left: 0px;
  }

  #div-1 h3 {
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 3vh;
    text-transform: initial;
  }

  #div-2 p {
    font-size: 2.5vh;
  }

  h4 {
    font-size: 3vh;
    margin: 0px;
    text-align: center;
    font-weight: 200;
  }

  button {
    font-size: 2.5vh;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
  }

  .div-advogado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    width: 100%;
    height: 100%;
}
  .advogado-direita {
    width: 100%;
    height: 50%;
  }

.div-advogado img {
    margin-right: 0;
    height: 40%;
  }

  .info-advogado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .div-advogado p {
    text-align: center;
    font-size: 3.5vh;
    margin: 10px 0px;
    width: 90%;
  }

  .div-advogado button {
    width: 90%;
  }

  .caso-real, .list-direito-indenizacao  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-direito-indenizacao div {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 12vh;
    text-align: left;
    padding-right: 30px;
    font-size: 2vh;
  }

  .list-direito-indenizacao div i {
    font-size: 4vh;
  }


  #div-3 p {
    font-size: 2vh;
    font-style: italic;
    font-weight: bold;
  }

  ol {
    margin-top: 0px;
  }

  ol li {
    font-size: 2.5vh;
    text-align: left;
  }

  .footer-paragrafo {
    width: 95%;
    font-size: 2.5vh;
    text-align: justify;
  }

  .footer-frase {
    font-size: 2vh;
  }

  #div-5 {
    justify-content: space-evenly;
  }

  #div-1 h2, #div-5 h2{
    margin: 0px;
  }

  .servicos-oferecidos-itens div {
    text-align: left;
    padding: 20px 30px 20px 40px;
    height: 20vh;
    font-size: 2vh;
  }

}
